body {
	background-color: beige;
}

p {
	background-image: (“images/pavement”);
}

h1 {
	color: light yellow;
}

#homepagelink{
	color:red;
	font-size: 30px;
}

#otherlink{
	color: white;
	font-size: 30px;
}
